/.mypy_cache/3.7/@plugins_snapshot.json
/.mypy_cache/3.7/__future__.data.json
/.mypy_cache/3.7/__future__.meta.json
/.mypy_cache/3.7/_ast.data.json
/.mypy_cache/3.7/_ast.meta.json
/.mypy_cache/3.7/_importlib_modulespec.data.json
/.mypy_cache/3.7/_importlib_modulespec.meta.json
/.mypy_cache/3.7/_warnings.data.json
/.mypy_cache/3.7/_warnings.meta.json
/.mypy_cache/3.7/_weakref.data.json
/.mypy_cache/3.7/_weakref.meta.json
/.mypy_cache/3.7/_weakrefset.data.json
/.mypy_cache/3.7/_weakrefset.meta.json
/.mypy_cache/3.7/abc.data.json
/.mypy_cache/3.7/abc.meta.json
/.mypy_cache/3.7/array.data.json
/.mypy_cache/3.7/array.meta.json
/.mypy_cache/3.7/ast.data.json
/.mypy_cache/3.7/ast.meta.json
/.mypy_cache/3.7/builtins.data.json
/.mypy_cache/3.7/builtins.meta.json
/.mypy_cache/3.7/codecs.data.json
/.mypy_cache/3.7/codecs.meta.json
/.mypy_cache/3.7/contextlib.data.json
/.mypy_cache/3.7/contextlib.meta.json
/.mypy_cache/3.7/copy.data.json
/.mypy_cache/3.7/copy.meta.json
/.mypy_cache/3.7/difflib.data.json
/.mypy_cache/3.7/difflib.meta.json
/.mypy_cache/3.7/inspect.data.json
/.mypy_cache/3.7/inspect.meta.json
/.mypy_cache/3.7/io.data.json
/.mypy_cache/3.7/io.meta.json
/.mypy_cache/3.7/itertools.data.json
/.mypy_cache/3.7/itertools.meta.json
/.mypy_cache/3.7/math.data.json
/.mypy_cache/3.7/math.meta.json
/.mypy_cache/3.7/mmap.data.json
/.mypy_cache/3.7/mmap.meta.json
/.mypy_cache/3.7/pathlib.data.json
/.mypy_cache/3.7/pathlib.meta.json
/.mypy_cache/3.7/pickle.data.json
/.mypy_cache/3.7/pickle.meta.json
/.mypy_cache/3.7/posix.data.json
/.mypy_cache/3.7/posix.meta.json
/.mypy_cache/3.7/queue.data.json
/.mypy_cache/3.7/queue.meta.json
/.mypy_cache/3.7/shutil.data.json
/.mypy_cache/3.7/shutil.meta.json
/.mypy_cache/3.7/struct.data.json
/.mypy_cache/3.7/struct.meta.json
/.mypy_cache/3.7/sys.data.json
/.mypy_cache/3.7/sys.meta.json
/.mypy_cache/3.7/tarfile.data.json
/.mypy_cache/3.7/tarfile.meta.json
/.mypy_cache/3.7/tempfile.data.json
/.mypy_cache/3.7/tempfile.meta.json
/.mypy_cache/3.7/test.data.json
/.mypy_cache/3.7/test.meta.json
/.mypy_cache/3.7/threading.data.json
/.mypy_cache/3.7/threading.meta.json
/.mypy_cache/3.7/traceback.data.json
/.mypy_cache/3.7/traceback.meta.json
/.mypy_cache/3.7/types.data.json
/.mypy_cache/3.7/types.meta.json
/.mypy_cache/3.7/typing.data.json
/.mypy_cache/3.7/typing.meta.json
/.mypy_cache/3.7/typing_extensions.data.json
/.mypy_cache/3.7/typing_extensions.meta.json
/.mypy_cache/3.7/warnings.data.json
/.mypy_cache/3.7/warnings.meta.json
/.mypy_cache/3.7/weakref.data.json
/.mypy_cache/3.7/weakref.meta.json
/.mypy_cache/
/.idea/
/.idea/dictionaries/
/datasets/aerial_cactus/valid/
/datasets/aerial_cactus/train/
/datasets/aerial_cactus/test.zip
/datasets/aerial_cactus/train.csv
/datasets/aerial_cactus/train.zip
